//Цвет текста
$color-grey: #777777

//Основные цвета сайта
$color-brown-light: #BA8554
$color-brown-dark: #A14F03
$color-grey-light: #F7F7F7

//Чёрный и белый цвета сайта
$color-white: #FAFAFA
$color-black: #000000

//Тень для кнопок
$box-shadow: 0 .4rem .4rem 0 rgba(0, 0, 0, 0.3)
$shadow-h2: 0rem .4rem .4rem rgba($color-black, .25)

//Отступы
$margin-vertical-big: 8rem
$gutter-horizontal: 6rem

//Типографика
$font-size-paragraph: 1.6rem
$font-size-paragraph-h2: 3.6rem
$font-size-paragraph-h3: 2rem